/* items */
GOLD {
    color: var(--yellow);
}

KEY, SWORD {
    text-shadow: 0 0 2px var(--gray0);
}


POTION {
    color: var(--pink);
}




/* environments */
FOREST::after, SWAMP::after, FIELD::after {
    background-size: 1.5rem;
    margin-left: 0.5rem;
    display: inline-block;
    width: 1.5rem; 
    height: 1.5rem;
    content:"";
    border-radius: 20%;
}



FOREST::after {
    background-image: url('../images/forest.svg');
}

SWAMP::after {
    background-image: url('../images/swamp.svg');
}

FIELD::after {
    background-image: url('../images/field.svg');
}




/* enemies */
WOLF, BANDIT {
    color: var(--red);
}


/* neutrals */
MONK, TRAVELER, SHOPKEEPER {
    color: var(--blue1);
}



/* status */
HP {
    color: var(--red);
}
